*{
    box-sizing: border-box;
    max-width: 100%;
}

.mainContainer{
    background-color: steelblue;
    padding: 50px;
    min-height: 100vh;
    max-height: 100vh;
}

.container1{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
}

.container2{

    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}

button{
    cursor: pointer;
    padding: 7px;
    font-weight: bolder;
    border-radius: 7px;
}

#btn1{
    background-color: steelblue;
    color: aliceblue;
    width: 150px;
}
#btn1:hover{
    background-color: aliceblue;
    color: steelblue;
    transition: 0.3s;
    padding: 10px;
    border-radius: 30px;
}

#btn2{
    width: 100%;
    color: steelblue;
    background-color: aliceblue;

}

#btn2:hover{
    background-color: steelblue;
    color: aliceblue;
    transition: 0.3s;
    border-radius: 30px;
    padding: 10px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 100, 113);
    text-align: center;
    padding: 5vh;


}